.btn {
    width: 150px;
    height: 70px;
    cursor: pointer;
    border: none;
    margin-right: 30px;
    background: var(--btn);
    font-size: 20px;
    color: var(--btn-txt);
    transition: all 0.6s;
}

.btn:hover {
    background: var(--btn-hover);
}